@import 'normalize';
@import 'global';
@import 'colors';


.heading {
    font-family: 'Montserrat Alternates',
        sans-serif;
    font-weight: 400;
}

.hide-scroll {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;

    /* Firefox */
    &::-webkit-scrollbar {
        display: none;
    }
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* container max width -------------------  */


.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    // width 1120 + 15px pading both size
    max-width: 1150px;
}

header {
    background: #FFFFFF;
    box-shadow: 0px 2px 2px #FDA5BD,
        inset 0px 2px 2px #FDA5BD;
}

.logo {
    flex: 0 0 160px;
    width: 160px;
    height: 60px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.8rem;

    &__navigation {
        display: flex;
        gap: 1rem;


        .hover-links {
            width: 0;
            height: 0;
            opacity: 0;
            overflow: hidden;
            position: absolute;
            top: 10px;
            line-height: 2rem;
            // padding: 16px;
            background-color: white;
            box-shadow: 1px 1px 2px #FDA5BD;
            border-radius: 4px;

            li {
                padding: 8px 16px;
                transition: all ease-in-out 0.3s;
            }

            li:hover {
                background-color: #FDA5BD;
                color: white;
            }
        }

        &_dropdown {

            cursor: pointer;

            &:hover {

                .hover-links {
                    position: absolute;
                    top: 2.5rem;
                    height: auto;
                    width: auto;
                    opacity: 1;
                    display: block;
                }
            }
        }
    }

}

/* main -------------------  */
main {
    flex: 1 1 auto;
}

.main {
    // display: block;
    width: 100%;
    background: #ECEBEB;
    min-height: calc(100vh - 156px);
    // min-height: 50vw;
    background-image: url(../images/main-background.png);
    background-repeat: no-repeat;
    background-position: 80% bottom;
    background-size: 50vw;

    &-section {

        padding-top: 4rem;

        &__text {
            max-width: 423px;
            margin-bottom: 150px;
            font-size: 24px;
        }

        &__heading {
            font-style: italic;
            font-weight: 400;

            span:first-child {
                font-size: 11vw;
            }

            span {
                display: block;
                font-size: 4.7vw;
            }
        }
    }
}

.slogan {
    text-align: center;
    background: #FDA5BD;
    color: white;
    font-style: italic;
    font-weight: 500;
    font-size: 2rem;
    line-height: 6rem;
}

.cards {
    padding: 129px 0;
    background-image: url(../images/cards-bg.png);
    background-repeat: no-repeat;
    background-position: center center;
    // background-attachment: fixed;
}

.cards__heading {
    text-align: center;
    font-size: 42px;
    font-weight: 400;
    margin-bottom: 46px;
}

.cards__items {
    display: flex;
    gap: 8px 32px;
    flex-wrap: wrap;
    // justify-content: flex-start;
    margin: 0 auto;
    align-items: center;

    @media screen and (max-width:1170px) {
        justify-content: center;
    }

    &_card {
        cursor: pointer;
        min-width: 352px;
        padding: 22px;
        background: rgba(255, 255, 255, 0.6);
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
        // -1px -1px 2px rgba(105, 105, 105, 0.6);
        backdrop-filter: blur(15px);
        border-radius: 32px;
        font-size: 18px;
        text-align: center;
        min-height: 160px;
        margin: 16px 0;
        transition: 0.3s ease-in-out;

        &:hover {
            font-weight: 700;
            font-size: 24px;
            padding-top: 26px;
            padding-bottom: 26px;
            min-height: 192px;
            margin: 0;
            box-shadow: 4px 4px 4px #FDA5BD,
                inset 4px 4px 8px #FDA5BD;

            .card__img {
                height: 96px;
                width: 96px;
            }
        }

        .card__img {
            height: 80px;
            width: 80px;
            margin: 8px auto;
            transition: 0.3s ease-in-out;

            img {
                width: 100%;
            }
        }
    }
}

// swiper

.swiper {
    margin-bottom: 128px;

    &__heading {
        text-align: center;
        font-size: 42px;
        margin-bottom: 48px;
    }


    //  ============  main swiper content
    &__content {
        display: flex;
        justify-content: space-around;
        align-items: center;
        min-height: 608px;

    }

    &__item {
        text-align: center;

        &:hover {
            .swiper__item_img {
                width: 544px;
                height: 544px;
            }
        }

        &_img {
            transition: all 0.6s;
            width: 254px;
            height: 254px;
            border-radius: 100%;
            margin-bottom: 1rem;
            overflow: hidden;

            img {
                height: 100%;
            }
        }
    }
}


/* footer -------------------  */
footer {
    padding: 68px 0 8px;
    background: #F3F3F5;
}

.footer {
    padding-bottom: 75px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 90px;

    &__links {
        li:not(:last-child) {
            margin-bottom: 1rem;
        }

        .partners {
            &:not(:last-child) {
                margin-right: 32px;
            }

            img {
                vertical-align: top;

            }
        }

        .social:not(:last-child) {
            margin-right: 8px;
        }
    }
}

.copirate {
    text-align: center;
}